body {
    background-color: darkgray;
}
div {
    text-align: center;
    background-color: lightgrey;
    color: black;
}
label {
    font-family:'Times New Roman', Times, serif;
    font: bold;
    text-align: left;
    color: blue;
}

input {
    color: black;
}
 
input[type=text] {
    border: 3px solid black;
}
 
input[type=number] {
    border: 3px solid black;

}

input[type=date] {
    border: 3px solid black;
}