<div class="container">
    <h1>Submit A Claim Form</h1>
    <form [formGroup]="submitclaim" (ngSubmit)="onSubmit(submitclaim.value)">

        <div>
            <label for="description">Description</label><br>
            <input type="text" name="description" class="form-control" formControlName="description">
        </div>
        <pre></pre>

        <div>
            <label for="amount">Amount</label><br>
            <input type="number" name="amount" min="0.00" step="0.01" formControlName="amount" class="form-control">
        </div>
        <pre></pre>

        <div>
            <label for="date">Date</label><br>
            <input type="date" name="date" class="form-control" formControlName="date">
        </div>
        <pre></pre>

        <div formGroupName="user">
            <label for="userId">UserId</label><br>
            <input type="number" name="userId" class="form-control" formControlName="userId">
        
        <pre></pre>

        <div>
            <label for="firstName">UserFirstName</label><br>
            <input type="text" name="firstName" class="form-control" formControlName="firstName">
        </div>
        <pre></pre>

        <div>
            <label for="lastName">UserLastName</label><br>
            <input type="text" name="lastName" class="form-control" formControlName="lastName">
        </div>
        <pre></pre>
    </div>

        <input type="submit" class="btn btn-primary" value="submit">
    </form>
</div>

