<label for="claims"></label>
<button type="submit" (click)="fetchClaims()">Fetch</button> 

<table class="table table-bordered table-striped">
<tr>
    <th>Claim Id</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Status</th>
    <th>User Id</th>
    <th>First Name</th>
    <th>Last Name</th>
</tr>
<tr *ngFor ="let c of claims">
    <td>{{ c.claimId }}</td>
    <td>{{ c.description }}</td>
    <td>{{ c.amount }}</td>
    <td>{{ c.date }}</td>
    <td>{{ c.status }}</td>
    <td>{{c.user.userId}}</td>
    <td>{{c.user.firstName}}</td>
    <td>{{c.user.lastName}}</td>
</tr>
</table>
<form [formGroup]="updateForm" (ngSubmit)="updateClaims(updateForm.value)">
<label for="claimId">ID: </label>
<input type="number" name="claimId" formControlName="claimId">
<label for="status">New status: </label>
<select type="text" name="status" formControlName="status">
    <option value="approved">Approved</option>
    <option value="denied">Denied</option>
</select>    
<button type="submit" >Update</button>
</form>